<br />
<div class="footer-top-w3layouts-agile">
	</div>
	<div class="footer">
		<div class="container">
			<div class="footer-grids wthree-agile">
				<div class="col-md-4 footer-grid-left">
					<h3>我的网址</h3>
					<ul>
						<li><a href="http://www.cnblogs.com/shendeng23/">我的CSDN博客</a></li>
					    <li><a href="https://github.com/ShenDeng75">我的GitHub</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-bottom">
				<div class="" style="text-align: center">
					<p>平凡的神灯 &copy; 2019<a href="http://www.miitbeian.gov.cn/" target="_blank" title="备案要求"> 湘ICP备19004358号</a></p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>